html {
  font-family: Arial, 'sans-serif';
}

h1 {
  font-weight: bold;
  color: white;
}

h1::selection {
  color: red;
}

p {
  color: green;
}

p::selection {
  color: yellow;
}

body {
  background-color: black;
}

a::selection {
  color: #1d3863;
}
